<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/book/add/" method="post">
        <table>
            <tr>
                <td>书名:</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>出版社:</td>
                <td><input type="text" name="pub"></td>
            </tr>
            <tr>
                <td>定价:</td>
                <td><input type="text" name="price"></td>
            </tr>
            <tr>
                <td>零售价:</td>
                <td><input type="text" name="market_price"></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>